.create-profile-cont {
position: absolute;
top: 50%;  
left: 50%;
transform: translate(-50%, -50%);
width: 50%;
height: auto; 
background-color: white;
border-radius: 15px;
text-align: center;
z-index: 3;
padding: 25px 0;
}
.hidden-cont {
    visibility: hidden;
}