.parties-cont {
    padding-top: 20px;
    width: 80%;
    height: 75%;
    color: white;
    margin: 200px auto 0 auto;
    text-align: center;
}
.post-and-create-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}